{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
{% block head %}
	<title>{% block title %} Inicio {% endblock %}</title>

	<link type="image/x-icon" href = "{% static 'assets/img/logoUES.png' %}" rel="icon">

	{% block static %}
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<link rel="stylesheet" href="{% static 'css/main.css' %}">
	<link rel="stylesheet" href="{% static 'css/style.css' %}">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
	

	<!--====== Scripts -->
	<script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
	<script src="{% static 'js/sweetalert2.min.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/material.min.js' %}"></script>
	<script src="{% static 'js/ripples.min.js' %}"></script>
	<script src="{% static 'js/jquery.mCustomScrollbar.concat.min.js' %}"></script>
	<script src="{% static 'js/main.js' %}"></script>

	{% endblock %}
{% endblock %}
</head>

<body>
	<!-- SideBar -->
	<section class="full-box cover dashboard-sideBar">
		<div class="full-box dashboard-sideBar-bg btn-menu-dashboard"></div>
		<div class="full-box dashboard-sideBar-ct">
			<!--SideBar Title -->
			<div class="full-box text-uppercase text-center text-titles dashboard-sideBar-title">
				An&aacute;lisis Financiero <i class="zmdi zmdi-close btn-menu-dashboard visible-xs"></i>
			</div>
			<!-- SideBar User info -->
			<div class="full-box dashboard-sideBar-UserInfo">
				<figure class="full-box">
					<img src="{% static 'assets/img/usuario.png' %}" alt="Icono de Usuario">
					<figcaption class="text-center text-titles"> Nombre Usuario </figcaption>
				</figure>
				<ul class="full-box list-unstyled text-center">
					<li>
						<a href="#!">
							<i class="zmdi zmdi-settings"></i>
						</a>
					</li>
					<li>
						<a href="#!" class="btn-exit-system">
							<i class="zmdi zmdi-power"></i>
						</a>
					</li>
				</ul>
			</div>

			<!-- SideBar Menu -->
			<ul class="list-unstyled full-box dashboard-sideBar-Menu">
				
				<li>
					<a href="{% url 'analisisFinanciero:index'%}">
						<i class="zmdi zmdi-home zmdi-hc-fw"></i> Inicio
					</a>
				</li>

				</br>

				
				<li>
					<a href="#!" class="btn-sideBar-SubMenu">
						<i class="zmdi zmdi-local-store zmdi-hc-fw"></i> Empresa <i class="zmdi zmdi-caret-down pull-right"></i>
					</a>
					<ul class="list-unstyled full-box dashboard-sideBar-Menu">
						<li>
							<a href="{% url 'analisisFinanciero:insertarEmpresa' %}"><i class="zmdi zmdi-assignment-o zmdi-hc-fw"></i> Agregar </a>
						</li>
						<li>
							<a href="{% url 'analisisFinanciero:consultarEmpresa' %}"><i class="zmdi zmdi-view-list zmdi-hc-fw"></i> Consultar </a>
						</li>
						
					</ul>
				</li>

				</br>

				<li>
					<a href="#!" class="btn-sideBar-SubMenu">
						<i class="zmdi zmdi-collection-bookmark zmdi-hc-fw"></i> C&aacute;talogos <i class="zmdi zmdi-caret-down pull-right"></i>
					</a>
					<ul class="list-unstyled full-box">
						<li>
							<a href="{% url 'analisisFinanciero:catalogo' %}"><i class="zmdi zmdi-book zmdi-hc-fw"></i>Gestionar C&aacute;talogo</a>
						</li>
						
					</ul>
				</li>

				</br>

				<li>
					<a href="#!" class="btn-sideBar-SubMenu">
						<i class="zmdi zmdi-bookmark zmdi-hc-fw"></i> Balances <i class="zmdi zmdi-caret-down pull-right"></i>
					</a>
					<ul class="list-unstyled full-box">
						<li>
							<a href="{% url 'analisisFinanciero:crearBalance' %}"><i class="zmdi zmdi-money-box zmdi-hc-fw"></i>Agregar Balance</a>
						</li>
						<li>
							<a href="{% url 'analisisFinanciero:subirBalance' %}"><i class="zmdi zmdi-money-box zmdi-hc-fw"></i>Subir Balance</a>
						</li>
						<li>
							<a href="{% url 'analisisFinanciero:subirBalance' %}"><i class="zmdi zmdi-money-box zmdi-hc-fw"></i>Subir Balance</a>
						</li>
						<li>
							<a href="{% url 'analisisFinanciero:consultarBalance' %}"><i class="zmdi zmdi-collection-item zmdi-hc-fw"></i>Consultar Balance</a>
						</li>
					</ul>
				</li>

				<li>
					<a href="#!" class="btn-sideBar-SubMenu">
						<i class="zmdi zmdi-graphic-eq zmdi-hc-fw"></i> Razones <i class="zmdi zmdi-caret-down pull-right"></i>
					</a>
					<ul class="list-unstyled full-box dashboard-sideBar-Menu">
						<li>
							<a href="{% url 'analisisFinanciero:consultarRazonActividad' %}"><i class="zmdi zmdi-badge-check zmdi-hc-fw"></i> Actividad </a>
						</li>
						<li>
							<a href="{% url 'analisisFinanciero:consultarRazonLiquidez' %}"><i class="zmdi zmdi-badge-check zmdi-hc-fw"></i> Liquidez </a>
						</li>
						<li>
							<a href="{% url 'analisisFinanciero:consultarRazonApalancamiento' %}"><i class="zmdi zmdi-badge-check zmdi-hc-fw"></i> Endeudamiento </a>
						</li>
						<li>
							<a href="{% url 'analisisFinanciero:consultarRazonRentabilidad' %}"><i class="zmdi zmdi-badge-check zmdi-hc-fw"></i> Rentabilidad </a>
						</li>
						<li>
							<a href="{% url 'analisisFinanciero:consultarAnalisisDupont' %}"><i class="zmdi zmdi-badge-check zmdi-hc-fw"></i> An&aacute;lisis Dupont </a>
						</li>
						<li>
							<a href="{% url 'analisisFinanciero:consultarAnalisisHorizontal' %}"><i class="zmdi zmdi-badge-check zmdi-hc-fw"></i> An&aacute;lisis Horizontal </a>
						</li>
						<li>
							<a href="{% url 'analisisFinanciero:consultarAnalisisVertical' %}"><i class="zmdi zmdi-badge-check zmdi-hc-fw"></i> An&aacute;lisis Vertical </a>
						</li>
					</ul>
				</li>

				</br>

				<li>
					<a href="#!" class="btn-sideBar-SubMenu">
						<i class="zmdi zmdi-graphic-eq zmdi-hc-fw"></i> Ratios Sector <i class="zmdi zmdi-caret-down pull-right"></i>
					</a>
					<ul class="list-unstyled full-box dashboard-sideBar-Menu">
						<li>
							<a href="{% url 'analisisFinanciero:insertarRatioSector' %}"><i class="zmdi zmdi-assignment-o zmdi-hc-fw"></i> Agregar </a>
						</li>
						<li>
							<a href="{% url 'analisisFinanciero:consultarRatioSector' %}"><i class="zmdi zmdi-view-list zmdi-hc-fw"></i> Consultar </a>
						</li>	
					</ul>
				</li>

				</br>


				<li>
					<a href="{% url 'analisisFinanciero:consultarInformes'%}">
						<i class="zmdi zmdi-book zmdi-hc-fw"></i> Informes
					</a>
				</li>

				</br>

				<li>
					<a href="#!" class="btn-sideBar-SubMenu">
						<i class="zmdi zmdi-account-add zmdi-hc-fw"></i> Usuarios <i class="zmdi zmdi-caret-down pull-right"></i>
					</a>
					<ul class="list-unstyled full-box">
						<li>
							<a href="admin.html"><i class="zmdi zmdi-account zmdi-hc-fw"></i> Admin</a>
						</li>
						<li>
							<a href="teacher.html"><i class="zmdi zmdi-male-alt zmdi-hc-fw"></i> Teacher</a>
						</li>
						<li>
							<a href="student.html"><i class="zmdi zmdi-face zmdi-hc-fw"></i> Student</a>
						</li>
						<li>
							<a href="representative.html"><i class="zmdi zmdi-male-female zmdi-hc-fw"></i> Representative</a>
						</li>
					</ul>
				</li>

			</ul>
		</div>
	</section>

	<!-- Content page-->
	<section class="full-box dashboard-contentPage">

		<!-- NavBar -->
		<nav class="full-box dashboard-Navbar">
			<ul class="full-box list-unstyled text-right">
				<li class="pull-left">
					<a href="#!" class="btn-menu-dashboard"><i class="zmdi zmdi-more-vert"></i></a>
				</li>
				<li>
					<a href="#!" class="btn-modal-help">
						<i class="zmdi zmdi-help-outline"></i>
					</a>
				</li>
			</ul>
		</nav>

		<!-- Content page -->
		<div class="container-fluid">
			<div class="page-header">
			  <h1 class="text-titles"><strong>Sistema de An&aacute;lisis Financiero.</strong></h1>
			</div>
			<div class="full-box text-center" style="padding: 30px 10px;">
				{% block content %}

				</br></br></br></br><img src = "{% static 'assets/img/logoUES.png' %}">

				{% endblock %}
			</div>
		</div>
		
	</section>

	
	<!-- Dialog help -->
	<div class="modal fade" tabindex="-1" role="dialog" id="Dialog-Help">
	  	<div class="modal-dialog" role="document">
		    <div class="modal-content">
			    <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			    	<h4 class="modal-title">Ayuda</h4>
			    </div>
			    <div class="modal-body">
			        <p>
			        	Selecciona una de las opciones mostradas en el men&uacute; lateral izquierdo. </br></br>Si deseas poder ver las diferentes opciones que estos botones poseen, da un clic en la flecha apuntando hacia abajo que posee cada bot&oacute;n y asi podras ver una lista desplegable con m&aacute;s opciones que est&eacute; pose&aacute;.
			        </p>
			    </div>
		      	<div class="modal-footer">
		        	<button type="button" class="btn btn-primary btn-raised" data-dismiss="modal"><i class="zmdi zmdi-thumb-up"></i> Ok</button>
		      	</div>
		    </div>
	  	</div>
	</div>

	<script>
		$.material.init();
	</script>

	{% block modal %}
	{% endblock %}

	{% block js %}
	{% endblock %}

</body>
</html>