{% extends 'base/base.html' %}

{% block content %} 
    
    <div class="page-header-header">
        <h1 class="text-titles"><strong>An&aacute;lisis Vertical.</strong></h1>
    </div>
    
    {% if queryset %}

        <!-- Opciones para consultar los balances -->
        <div align="center" class="busqueda">
            <div class="form__group2 field">
                <input type="submit" name="submit" id="analisisVertical" class="inputfile inputfile-3"  value="Consultar"  onclick="window.location.href='{% url 'analisisFinanciero:consultarAnalisisVertical' %}'">
                <label for="analisisVertical">
                <span class="iborrainputfile" onclick="window.location.href='{% url 'analisisFinanciero:consultarAnalisisVertical' %}'">Consultar Otro</span>
            </div>
            </br>
        </div>

    {% else %}
        
        </br></br><p class="lead">Ingresa el c&oacute;digo de tu empresa y el a&ntilde;o en que deseas consultar los ratios de est&aacute; raz&oacute;n.</p></br>

        <!-- Opciones para consultar los balances -->
        <div align="center" class="busqueda">
            <form method="POST" action="{% url 'analisisFinanciero:analisisVertical' %}">
                {% csrf_token %} 

                <div class="form__group2 field">
                    <input type="text" name="codEmpresa"  id = "codEmpresa" class="form__field2" placeholder="Ingresa el código de la empresa." required maxlength="15"></br>
                    <label for="codEmpresa" class="form__label2">C&oacute;digo Empresa</label>
                </div></br>

                <div class="form__group2 field">
                    <input type="number" name="año"  id = "año" class="form__field2" placeholder="Ingresa el año." required pattern="([0-9]{4})" maxlength="4"></br>
                    <label for="año" class="form__label2">A&ntilde;o</label>
                </div>

                <div class="form__group2 field">
                    <input type="submit" name="submit" id="analisisVertical" class="inputfile inputfile-3"  value="Consultar">
                    <label for="analisisVertical">
                    <span class="iborrainputfile">Consultar</span>
                </div>

                </br>
                
            </form>
        </div>

    {% endif %}


    {% if queryset %}
        <div class="table-responsive" style="width:50%; display:inline-block;">
    {% else %}
        <div class="table-responsive" style="width:50%; display:none;">
    {% endif %}
        <table class="table table-hover text-center">
            <thead>
                <tr>
                    <th class="text-center">Empresa</th>
                    <th class="text-center" style="color:#7d7f7d;"><i>{{ empresa.nombreEmpresa }}</i></th>
                </tr>
            </thead>
            <thead>
                <tr>
                    <th class="text-center">A&ntilde;o</th>
                    <th class="text-center" style="color:#7d7f7d;"><i>{{ año }}</i></th>
                </tr>
            </thead>
        </table>
    </div>


    <div class="table-responsive" style="width:85%; display:inline-block;">
        <table class="table table-hover text-center">
        
            {% if analVert %}
            <thead>
                <tr>
            	    <th class="text-center">Cuenta</th>
                    <th class="text-center">{{ año }}</th>
                    <th class="text-center">Valor</th>
                </tr>
            </thead>
            <tbody>
                {% for an in analVert %}
                    <tr>
                        <td>{{ an.codCuenta.nombreCuenta }}</td> 
                        <td>$ {{ an.valor }}</td> 
                        <td>{{ an.valor|floatformat:2 }} %</td> 
                    </tr>
                {% endfor %} 
            </tbody>
            {% endif %}

        </table>

    </div>

{% endblock %}

{% block modal %}
    <!-- Modal -->
    <div class="modal fade" id="RazonCirculante" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Activo</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <h5>Popover in a modal</h5>
                    <p>This button triggers a popover on click.</p>
                    <hr>
                    {% comment %} <button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="right" title="Tooltip on right">
                        Tooltip on right
                    </button> {% endcomment %}
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>
{% endblock %}


{% block js %}
<script>
    $(function () {
    $('[data-toggle="tooltip"]').tooltip()
    })
</script>
{% endblock %}