{% extends 'base/base.html' %}

{% block content %} 
    
{% if user.is_authenticated %}

    {% if request.user.rol == 'ADM'%}
    <div class="page-header-header">
        <h1 class="text-titles"><strong>Consultar Empresas Registradas.</strong></h1>
    </div>
        
        </br></br><p class="lead">Selecciona los parametros de busqueda</p></br>

        
        <div align="center" class="busqueda">
            <form method="POST" action="{% url 'analisisFinanciero:consultarEmpresa' user.username %}">
                {% csrf_token %} 

                <div class="form__group2 field">                
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <label class="input-group-text" for="inputGroupSelect01">Empresa</label>
                        </div>
                        <select name="empresas" class="custom-select" id="inputGroupSelect01">
                            <option selected="selected">Selecciona la Empresa</option>
  
                          {% for emp in empresas %}
  
                            <option value="{{ emp.codEmpresa }}">{{ emp.nombreEmpresa }}</option>
  
                          {% endfor %}
                          </select>
                    </div>
                </div>


                <div class="form__group2 field">
                    <input type="submit" name="submit" id="consultarBalance" class="inputfile inputfile-3"  value="Consultar">
                    <label for="consultarBalance">
                    <span class="iborrainputfile">Consultar</span>
                </div>

                </br>
                
            </form>
        </div>

        {% endif %}

    
    <div class="table-responsive" style="width:85%; display:inline-block;">            

            <table class="table table-hover text-center">
                
                {% if queryset %}
                    <thead>
                        <tr>
                            <th class="text-center">Actividad Econ&oacute;mica</th>
                            <th class="text-center">Nombre Empresa</th>
                            <th class="text-center">Descripcion</th>
                        {% if request.user.rol == 'ADM' or request.user.rol == 'GER' %}                            
                            <th colspan="3" class="text-center">Acci&oacute;n</th>
                        {% endif %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for q in queryset %}
                            <tr>

                                <form method="POST" action="{% url 'analisisFinanciero:eliminarEmpresa' %}">
                                    {% csrf_token %}
                                    <td>{{ q.codActividadEconomica }}</td>
                                    <td><input type="hidden" name="codE" value="{{q.codEmpresa}}"/>{{ q.nombreEmpresa }}</td>
                                    <td>{{ q.descripcionEmpresa }}</td>
                                </form>
                            {% if request.user.rol == 'ADM' %}
                                <form method="GET" action="{% url 'analisisFinanciero:actualizarEmpresa' %}">
                                    {% csrf_token %}
                                    <input type="hidden" name="codE" value="{{q.codEmpresa}}"/>                                
                                    <td>                               
                                        <input type="submit" name="btnActualizar" value="Actualizar" class="btn btn-light"/>
                                    </td>
                                </form>
                            {% endif %}
                            {% if request.user.rol == 'GER' %}
                                <form method="GET" action="{% url 'analisisFinanciero:actualizarEmpresa2' %}">
                                    {% csrf_token %}
                                    <input type="hidden" name="codE" value="{{q.codEmpresa}}"/>                                
                                    <td>                               
                                        <input type="submit" name="btnActualizar" value="Actualizar" class="btn btn-light"/>
                                    </td>
                                </form>
                            {% endif %}

                            {% if request.user.rol == 'ADM' %}
                                <form method="POST" action="{% url 'analisisFinanciero:eliminarEmpresa' %}">
                                    <input type="hidden" name="codE" value="{{q.codEmpresa}}"/>
                                    {% csrf_token %}
                                    <td>                                 
                                        <input type="submit" name="btnEliminar" value="Eliminar" class="btn btn-danger" style="color:white;"/>
                                    </td>
                                </form>
                            {% endif %}                                
                            </tr>                 
                        {% endfor %}
                    </tbody>
                {% endif %}
                
            </table>
     
    <div>

{% endif %}    

{% endblock %}