{% extends 'base/base.html' %}

{% block content %}

<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <meta name="theme-color" content="#000000" />

    <title>C&aacute;talogo de Cuentas </title>

     {# Cargamos la librería #}
    {% load bootstrap4 %}
 
    {# CSS Bootstrap #}
    {% bootstrap_css %} 

	{# Widget Tweaks #}
    {% load widget_tweaks %}

    {# Archivos #}
    {% load static %}

    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    </head>

    <body>
    <nav aria-label="breadcrumb mb-3">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active">Gestionar Cátalogo</li>
            <li class="breadcrumb-item active">Detalles</li>
        </ol>
    </nav>

    <div class="formulario" align="left">

    <h2><strong>Detalles de la Cuenta.</strong></h2></br>
    <p><span class="txt_negrita"><strong>C&oacute;digo Cuenta:</strong></span> <br> {{object.codCuenta}}</p>
    <p><span class="txt_negrita"><strong>Nombre Cuenta:</strong></span> <br> {{object.nombreCuenta}}</p>
    <p><span class="txt_negrita"><strong>C&oacute;digo Empresa:</strong></span> <br> {{object.codEmpresa_id}}</p>
    <p><span class="txt_negrita"><strong>Nombre Empresa:</strong></span> <br> {{object.codEmpresa.nombreEmpresa}}</p>
    <p><span class="txt_negrita"><strong>Rubro:</strong></span> <br> {{object.codRubro.nombreRubro}}</p>
    <p><span class="txt_negrita"><strong>Tipo de Cuenta:</strong></span> <br> {{object.codTipoCuenta.nombreTipoCuenta}}</p>
    <p><span class="txt_negrita"><strong>Creado:</strong></span> <br> {{object.created_at}}</p>
    <p><span class="txt_negrita"><strong>Actualizado:</strong></span> <br> {{object.updated_at}}</p>

    <div align="center" class="busqueda">
      <div class="form__group2 field">
          <input type="submit" id="consultarBalance" class="inputfile inputfile-3"  onclick="history.back()" name="volver atrás" value="Volver">
          <label for="consultarBalance">
          <span class="iborrainputfile">Volver</span>
      </div>
    </div>



    

    </div>

    {# JS y jQuery Bootstrap #}
    {% bootstrap_javascript jquery='full' %} 

  </body>
</html>

{% endblock %}